<%- include("header-navbar-top-of-body.ejs") -%>
      <div class="jumbotron text-center container-fluid clearfix">
        <section class="mb-4">
          <h1 class="text-left"><%= roleDoc.name %></h1>
          <hr class="overflow-hidden">

            <div class="float-lg-right px-4 pb-1">
              <aside>
                <iframe src="<%= roleDoc.imageUrl %>" width="250" height="450"></iframe>
                <ul class="list-group border border-dark rounded role-profile-list">
                  <%for (var j = 0; j < 10; j++) {%>
                    <li class="list-group-item py-1">
                      <div class="row text-left">
                        <div class="col-4 stand-against-bg-color rounded-left text-light">
                          <p class="my-0 profile-label-text">
                            <%switch (j) {
                                case 0:%>
                                Age
                                <%break;
                                case 1:%>
                                Birthday
                                <%break;
                                case 2:%>
                                Blood Type
                                <%break;
                                case 3:%>
                                Eye Color
                                <%break;
                                case 4:%>
                                Gender
                                <%break;
                                case 5:%>
                                Hair Color
                                <%break;
                                case 6:%>
                                Height
                                <%break;
                                case 7:%>
                                Nationality
                                <%break;
                                case 8:%>
                                Occupation
                                <%break;
                                case 9:%>
                                Weight
                                <%break;
                                case 10:%>
                                Played By
                                <%break;
                                default:%>
                                  ?
                                <%break; }%>
                          </p>
                        </div>
                        <div class="col ml-1 bg-profile-value rounded-right">
                          <p class="my-0">
                            <%switch (j) {
                                case 0:%>
                                <%=roleDoc.profile.age%>
                                <%break;
                                case 1:%>
                                <%=roleDoc.profile.birthday%>
                                <%break;
                                case 2:%>
                                <%=roleDoc.profile.bloodType%>
                                <%break;
                                case 3:%>
                                <%=roleDoc.profile.eyeColor%>
                                <%break;
                                case 4:%>
                                <%=roleDoc.profile.gender%>
                                <%break;
                                case 5:%>
                                <%=roleDoc.profile.hairColor%>
                                <%break;
                                case 6:%>
                                <%=roleDoc.profile.height%>
                                <%break;
                                case 7:%>
                                <%=roleDoc.profile.nationality%>
                                <%break;
                                case 8:%>
                                <%=roleDoc.profile.occupation%>
                                <%break;
                                case 9:%>
                                <%=roleDoc.profile.weight%>
                                <%break;
                                case 10:%>
                                <%=roleDoc.player%>
                                <%break;
                                default:%>
                                  ?
                                <%break; }%>
                          </p>
                        </div>
                      </div>
                    </li>
                  <%}%>
                </ul>
              </aside>
            </div>

            <div class="text-left">
              <p class="description-text"><%-roleDoc.pageDescription.backStory? roleDoc.pageDescription.backStory.replace(/(?:\r\n|\r|\n)/g, '<br />') : null%></p>
            </div>
        </section>

        <%if(roleDoc.pageDescription.appearance) {%>
        <section class="mb-4">
          <h2 class="text-left">Appearance</h2>
          <hr class="overflow-hidden">
          <div class="text-left">
            <p class="description-text"><%-roleDoc.pageDescription.appearance.replace(/(?:\r\n|\r|\n)/g, '<br />' )%></p>
          </div>
        </section>
        <%}%>

        <%if(roleDoc.pageDescription.personality) {%>
        <section class="mb-4">
          <h2 class="text-left">Personality</h2>
          <hr class="overflow-hidden">
          <div class="text-left">
            <p class="description-text"><%-roleDoc.pageDescription.personality.replace(/(?:\r\n|\r|\n)/g, '<br />')%></p>
          </div>
        </section>
        <%}%>

        <%if(roleDoc.pageDescription.abilities) {%>
        <section class="mb-4">
          <h2 class="text-left">Abilities</h2>
          <hr class="overflow-hidden">
          <div class="text-left">
            <p class="description-text"><%-roleDoc.pageDescription.abilities.replace(/(?:\r\n|\r|\n)/g, '<br />')%></p>
          </div>
        </section>
        <%}%>
      </div>
<%- include("bottom-body-and-footer") -%>
